/* btn-color:#F46632 */
/* grey-color:#8D8D8D */
/* section-color:#F8F8F8 */
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.block {
  width: 80%;
  margin: 0 auto;
}
.home {
  width: 100%;
  background-color: #000;
  position: relative;
  height: 80vh;
}
header {
  display: flex;
  color: #fff;
  gap: 5rem;
  align-items: center;
  padding: 2rem 0;
  justify-content: space-between;
}
.logo {
  width: 12rem;
}
nav {
  display: flex;
  gap: 3rem;
}
a {
  text-decoration: none;
}
header a {
  color: #fff;
  font-size: 1.6rem;
  font-family: sans-serif;
}
.btn-register {
  padding: 1rem 4rem;
  border-radius: 5rem;
  background-color: #292929;
  border: none;
}
.hero {
  background-color: #fff;
  display: flex;
  border-radius: 3rem;
  padding: 10rem;
  gap: 4rem;

  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 12rem;
  left: 12rem;
}
.hero img {
  width: 45rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-size: 3.2rem;
}
.fatory {
  background-image: url(img/Group\ 304.png);
  background-size: cover;
  padding: 0rem 2rem 6rem 0;
}
.fatory p {
  font-size: 2.4rem;
  color: #5c5c5c;
}
.article {
  font-size: 1.6rem;
  line-height: 4rem;
}
.btn-start {
  width: 70%;
  padding: 1.5rem 6rem;
  border-radius: 1.6rem;
  background-color: #f46632;
  font-size: 1.8rem;
  color: #fff;
  font-style: bold;
}
.about {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
  background-color: #fff;
  margin-top: 30rem;
  padding: 0 10rem 5rem 10rem;
}
.about-top {
  transform: translateY(-40%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.play {
  width: 50%;
}
.about-name {
  background-image: url(/img/About.png);
  background-size: cover;
  padding: 4rem 6rem;
  font-size: 3.2rem;
  text-align: center;
  font-style: bold;
}
.media {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.media img {
  width: 50%;
}
.about-text {
  font-size: 1.4rem;
  line-height: 4rem;
}
.course-experience {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 2rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  margin-top: 10rem;
  border-radius: 3rem;
  align-items: center;
}
.experiens {
  background-image: url(img/Experience.png);
  background-size: cover;
  padding: 4rem 8rem;
  font-size: 3.2rem;
}
.table {
  border: 0.1rem solid #000;
  display: flex;
  border-radius: 1.2rem;
}
.table p {
  padding: 1rem 6rem;
  font-size: 1.6rem;
}
.table p:last-child {
  background: #000;
  color: #fff;
  border-radius: 1.2rem;
}
.table p:nth-child(2) {
  border-left: 0.1rem solid #000;
}
.experiens-text {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 5rem;
}
.experiens-text img {
  width: 25%;
}
.experiens-text p {
  line-height: 4rem;
}
